@using Microsoft.AspNetCore.Identity
@using DonutShop.Models
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @if (SignInManager.IsSignedIn(User))
        {
            <h5>Welcome, @User.Claims.First(x => x.Type == "FirstName").Value ! Are you hungry?</h5>
        <form asp-page="/Account/Logout">
            <button type="submit">Logout</button>
        </form>
        }
        else
        {
            <a href="~/Account/Login">Login</a>
        }
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
