body {
    background-color: rgb(102,255,168);
    width: 960px;
    margin: auto;
    background-image: url(../assets/images/BackgroundTile.png);
    background-repeat: repeat;
}

nav {
    background-color: saddlebrown;
    color: white;
}

nav a {
    color: lightgray;
}

nav a:hover {
    color: white;
}

.homeImage {
    width: 200px;
}