@model DonutShop.Models.Donut

<h1>Add Donut to Inventory</h1>

<div class="row">
    <div class="col-md-4 loginForm">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKU" class="control-label"></label>
                <input asp-for="SKU" class="form-control" />
                <span asp-validation-for="SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <fieldset class="form-group">
                Cream Filled?<br />
                <label asp-for="CreamFilled" />
                <input type="radio" asp-for="CreamFilled" value="True" /> Yes
                <input type="radio" asp-for="CreamFilled" value="False" /> No
            </fieldset>
            <fieldset class="form-group">
                Boozey?<br />
                <label asp-for="Boozey" />
                <input type="radio" asp-for="Boozey" value="True" /> Yes
                <input type="radio" asp-for="Boozey" value="False" /> No
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>