@model DonutShop.Models.ViewModels.AdminUpdateViewModel

<h1>Update Donut: @Model.Donut.Name</h1>

<div class="row">
    <div class="col-md-4 loginForm">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Donut.ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Donut.Name" class="control-label"></label>
                <input asp-for="Donut.Name" class="form-control" />
                <span asp-validation-for="Donut.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donut.Description" class="control-label"></label>
                <input asp-for="Donut.Description" class="form-control" />
                <span asp-validation-for="Donut.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image Title</label>
                <input asp-for="Donut.ImageName" class="form-control" />
                <span asp-validation-for="Donut.ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Upload Image</label>
                <input asp-for="Image" type="file" />
            </div>
            <div class="form-group">
                <label asp-for="Donut.SKU" class="control-label"></label>
                <input asp-for="Donut.SKU" class="form-control" />
                <span asp-validation-for="Donut.SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donut.Price" class="control-label"></label>
                <input asp-for="Donut.Price" class="form-control" />
                <span asp-validation-for="Donut.Price" class="text-danger"></span>
            </div>
            <fieldset class="form-group">
                Cream Filled?<br />
                <label asp-for="Donut.CreamFilled" />
                <input type="radio" asp-for="Donut.CreamFilled" value="True" /> Yes
                <input type="radio" asp-for="Donut.CreamFilled" value="False" /> No
            </fieldset>
            <fieldset class="form-group">
                Boozey?<br />
                <label asp-for="Donut.Boozey" />
                <input type="radio" asp-for="Donut.Boozey" value="True" /> Yes
                <input type="radio" asp-for="Donut.Boozey" value="False" /> No
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
        <a href="~/product/delete/@Model.Donut.ID">Delete this Product</a>
    </div>
</div>