@page
@model DonutShop.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form class="loginForm" method="post">
    <div asp-validation-summary="All"></div>

    <div class="loginDiv">
    <fieldset class="form-group">
        <label asp-for="UserInput.Email"></label>
            <input asp-for="UserInput.Email" />
    </fieldset>
    <fieldset class="form-group">
        <label asp-for="UserInput.Password"></label>
        <input asp-for="UserInput.Password" />
    </fieldset>
    </div>
    <fieldset class="form-group">
        <label asp-for="UserInput.RememberMe"></label>
        <input asp-for="UserInput.RememberMe" />
    </fieldset>

    <button type="submit">Login</button>
</form>