@page
@model DonutShop.Pages.Admin.InventoryModel
@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

<h2>What would you like to do?</h2>

<a href="~/product/create">Add a New Product</a>
<a href="~/product/">View All Products</a>

